.outerWrapper{
    margin-top: calc((50 / 430 ) * 100vmin);
    display: flex;
    align-items: center;
    justify-content: center;
}
.outerWrapper button img{
    width: 50px;
    height: 50px;
}

.outerWrapper .backBtn{
    background-color: transparent;
    outline: none;
    border-color: transparent;
}

@media screen and (min-width: 1300px) {
    .outerWrapper{
        margin-top: calc((50 / 1200 ) * 100vmin);
    }
}