.listWrapper{
    display: none;
}

@media screen and (min-width: 1300px) {
    
    .listWrapper{
        margin: 0;
        padding: calc(25 / 1200 * 100vmin);
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 60%;
        color: white;
        text-transform: uppercase;
        font-size: calc(25 / 1200 * 100vmin);
        margin-left: 10%;
        letter-spacing: calc(2 / 1200 * 100vmin);
    }
    
    .listWrapper a{
        text-decoration: none;
        color: inherit;
    }

    .scrolledMenu{
        color: black;

    }
  }