.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elementsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: calc((20 / 430) * 100vmin); 
}
.imageInput {
  opacity: 0;
}

.inputInnerWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc((20 / 430) * 100vmin);
  width: calc((300 / 430) * 100vmin);
  height: calc((300 / 430) * 100vmin);
}
.imageInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.inputInnerWrapper img {
  width: 100%;
  height: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc((450 / 430) * 100vmin);
  margin-top: calc((20 / 430) * 100vmin);
  width: calc((200 / 430) * 100vmin);
}
.inputWrapper button {
  font-size: calc(20 / 400 * 100vmin);
  border-color: transparent;
  background-color: #dfc476;
  border-radius: calc(5 / 400 * 100vmin);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-bottom: calc(30 / 400 * 100vmin);
  height: calc(50 / 400 * 100vmin);
  font-weight: 700;
  letter-spacing: calc(0.8 / 400 * 100vmin);
  width: 80%;
}

.imagePreview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagePreview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1300px) {
  .wrapper h2 {
    font-size: calc((45 / 1200) * 100vmin);
  }
  .elementsWrapper {
    grid-template-columns: repeat(2, 1fr);

    gap: calc((60 / 1200) * 100vmin); 
    margin-bottom:  calc((50 / 1200) * 100vmin);
  }
  .inputInnerWrapper {
    border-radius: calc((20 / 1200) * 100vmin);
    width: calc((600 / 1200) * 100vmin);
    height: calc((600 / 1200) * 100vmin);
  }
  .inputWrapper {
    height: calc((900 / 1200) * 100vmin);
  }
  .inputWrapper button {
    font-size: calc(50 / 1200 * 100vmin);
   
    border-radius: calc(5 / 400 * 100vmin);
    margin-bottom: calc(30 / 400 * 100vmin);
    height: calc(100 / 1200 * 100vmin);
    letter-spacing: calc(0.8 / 400 * 100vmin);
  }
}
