.contentWrapper {
  padding: calc(80 / 400 * 100vmin) calc(19 / 400 * 100vmin) 0 calc(19 / 400 * 100vmin);
}
.questionsTitle{
  font-family: "Futura Medium";
font-size: calc(35 / 400 * 100vmin);
}
.questionsWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.questionName{
  font-size: calc(30 / 400 * 100vmin);
  font-family: "Futura Medium";
  letter-spacing: calc(2 / 400 * 100vmin);
}
.answer{
  font-size: calc(20 / 400 * 100vmin);
  line-height: calc(35 / 400 * 100vmin);
  margin-top: calc(20 / 400 * 100vmin);
}
.questionElement{
  margin-bottom: calc(20 / 400 * 100vmin);
}


@media screen and (min-width: 1300px) {
  .questionName{
      font-size: calc(50 / 1200 * 100vmin);
  }
}