.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(30 / 400 * 100vmin);
  flex-direction: column;
  background-color: #e9ecea;
  padding: calc(30 / 400 * 100vmin);
  font-family: var(--fontBold);
}
.innerWrapperKontacts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.starsLogo {
  width: calc(110 / 400 * 100vmin);
  height: calc(150 / 400 * 100vmin);
}

.kontaktWrapper {
  margin-top: calc(20 / 400 * 100vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(16 / 400 * 100vmin);
  font-weight: 500;
  line-height: calc(22 / 400 * 100vmin);
  text-align: left;
}

.kontaktWrapper h1 {
  letter-spacing: calc(2 / 400 * 100vmin);
  margin: 0;
  margin-bottom: calc(10 / 400 * 100vmin);
  font-size: calc(18 / 400 * 100vmin);
  font-weight: 700;
  line-height: calc(24 / 400 * 100vmin);
  text-align: left;
  font-family: "Futura Medium";
}

.kontaktWrapper div {
  display: flex;
  flex-direction: column;
  height: calc(45 / 400 * 100vmin);
  justify-content: space-between;
}

.kontaktWrapper div:first-of-type {
  margin-bottom: calc(30 / 400 * 100vmin);
}
.skroty {
  margin-top: calc(30 / 400 * 100vmin);
}
.skroty div {
  height: calc(130 / 400 * 100vmin);
}

.footerLogo img{
  width: calc(200 / 400 * 100vmin);
height: calc(30 / 400 * 100vmin);

}
.socialNets {
  display: flex;
  justify-content: flex-start;
  margin-bottom: calc(30 / 400 * 100vmin);
}

.socialNets a {
  margin: 0 calc(10 / 400 * 100vmin); 
}
.socialNets a:first-child {
  margin-left: 0;
}

.socialNets img {
  width: calc(35 / 400 * 100vmin); 
  height: calc(35 / 400 * 100vmin); 
}

@media screen and (min-width: 1300px) {
  .starsLogo {
    width: calc(320 / 1200 * 100vmin);
    height: calc(400 / 1200 * 100vmin);
  }

  .wrapper {
    padding:calc(50 / 1200 * 100vmin) calc(300 / 1200 * 100vmin) ;
    align-items: center;
  }

  .kontaktWrapper {
    align-items: flex-start;
    margin-top: 0;
    font-size: calc(22 / 1200 * 100vmin);
font-weight: 500;
line-height: calc(25 / 1200 * 100vmin);
text-align: left;

  }

  .kontaktWrapper h1 {
    margin: 0;
    letter-spacing: calc(3 / 1200 * 100vmin);
    margin-bottom: calc(30 / 1200 * 100vmin);
font-size: calc(30 / 1200 * 100vmin);
font-weight: 700;
font-family: var(--fontBold);

  }

  .kontaktWrapper div {
    height: calc(70 / 1200 * 100vmin);
    align-items: flex-start;
  }
  .innerWrapperKontacts {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    max-width: calc(1800 / 1200 * 100vmin);
  }

  .kontaktWrapper div:first-of-type {
    margin-bottom: calc(50 / 1200 * 100vmin);
  }
  .contactLink {
    color: inherit;
    text-decoration: none;
  }
  
  .contactLink:hover,
  .contactLink:focus {
    text-decoration: underline; /* Добавляем подчёркивание при наведении или фокусировке */
  }
  .skroty {
    height: 100%;
  }

  .skroty div {
    height: calc(180 / 1200 * 100vmin);
  }

  .skroty h1 {
    margin-bottom: calc(30 / 1200 * 100vmin);
  }
  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerLogo img {
    width: calc(280 / 1200 * 100vmin);
    height: calc(50 / 1200 * 100vmin);
  }
  .footerImagesWrapper{
    margin-top: calc(10 / 1200 * 100vmin);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .socialNets {
    margin-bottom: calc(0 / 400 * 100vmin);
  }
  .socialNets img {
    width: calc(50 / 1200 * 100vmin); 
    height: calc(50 / 1200 * 100vmin); 
  }
}
