.contentWrapper {
    padding: calc(80 / 400 * 100vmin) calc(19 / 400 * 100vmin) 0 calc(19 / 400 * 100vmin);
}

.questionsTitle {
    font-weight: 700;
    font-size: calc(35 / 400 * 100vmin);
}

.qaaa span {
    display: block;
    margin-top: calc(20 / 400 * 100vmin);
}

.qaContentWrapper img {
    margin-top: calc(30 / 1200 * 100vmin);
    cursor: auto;
}

.questionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionName {
    font-size: calc(25 / 400 * 100vmin);
    letter-spacing: calc(2 / 400 * 100vmin);
    font-weight: 700;
}

.answer {
    font-size: calc(20 / 400 * 100vmin);
    line-height: calc(35 / 400 * 100vmin);
}

.questionElement {
    margin-bottom: calc(40 / 400 * 100vmin);
}

.questionElement:last-child {
    margin-bottom: calc(0 / 400 * 100vmin);
}

@media screen and (min-width: 1300px) {
    .contentWrapper {
        padding: calc(200 / 1200 * 100vmin) calc(80 / 1200 * 100vmin) 0 calc(80 / 1200 * 100vmin);
    }

    .questionName {
        font-size: calc(50 / 1200 * 100vmin);
        margin-bottom: calc(40 / 1200 * 100vmin);
    }
   
    .qaaa {
        font-size: calc(35 / 1200 * 100vmin);
        line-height: 150%;
    }

    .qaaa span:last-child {
        display: block;
        font-size: calc(40 / 1200 * 100vmin);
        width: 90%;
    }
    .qaaa span {
        display: block;
        margin-top: calc(0 / 400 * 100vmin);
    }
    .qaContentWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: calc(100 / 1200 * 100vmin);
        flex-direction: row;
        /* height: calc(450 / 1200 * 100vmin); */
    }

    .qaContentWrapper img {
        margin-top: 0px;
    }

    .qaContentWrapper img {
        width: calc(450 / 1200 * 100vmin);
        height: calc(450 / 1200 * 100vmin);
    }
    .imgWizjaWrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .flipped .helpDiv{
        margin-left: calc(250 / 1200 * 100vmin);
    }
    .helpDiv{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        width: 100%;
    }
    .flipped {
        flex-direction: row-reverse;
      }
}
