.wrapper h1 {
  padding: 0;
  font-family: "Futura Medium";
  font-size: calc(25 / 400 * 100vmin);
  margin-bottom: calc(20 / 400 * 100vmin);
}

.wrapper ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

.wrapper li {
  margin: 0;
  font-size: calc(16 / 400 * 100vmin);
  line-height: calc(25 / 400 * 100vmin);
}

@media screen and (min-width: 1300px) {
  .wrapper {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
  }
  .wrapper ol {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 90%;
    text-align: right;
  }
  .wrapper li {
    margin: 0;
    font-size: calc(45 / 1200 * 100vmin);
    line-height: calc(60 / 1200 * 100vmin);
  }
}
