.addWrapper {
  margin-top: calc(40 / 400 * 100vmin);
  padding: calc((30 / 400) * 100vmin);
  background-color: #e9ecea;
}
.addWrapperInnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: calc((300 / 400) * 100vmin);
}
.textWrapper .title {
  font-size: calc((20 / 400) * 100vmin);
  font-family: var(--fontBold);
  text-transform: uppercase;
  letter-spacing: calc((1 / 400) * 100vmin);
  font-weight: 700;
  line-height: calc((30 / 400) * 100vmin);
  margin-bottom: calc((20 / 400) * 100vmin);
}
.textWrapper .text {
  font-size: calc((20 / 400) * 100vmin);
  font-weight: 500;
  line-height: calc((26 / 400) * 100vmin);
  text-align: left;
  margin-bottom: calc((30 / 400) * 100vmin);
}
.textWrapper .text span {
  color: var(--active-color);
}
.textWrapper div {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper button {
  background-color: transparent;
  border-color: transparent;
  width: calc((330 / 400) * 100vmin);
}
.textWrapper img {
  width: 100%;
}

@media screen and (min-width: 1300px) {
  .addWrapper {
    margin-top: calc(80 / 1200 * 100vmin);
    padding: calc((50 / 1200) * 100vmin);
  }
  .addWrapperInnerWrapper {
    margin: 0 auto;
    max-width: calc((1800 / 1200) * 100vmin);
  }
  .textWrapper {
    width: 100%;
    flex-direction: row;
  }
  .textWrapper span {
    letter-spacing: calc((3 / 1200) * 100vmin);
  }
  .textWrapper button {
    width: 40%;
  }
  .textWrapper span:nth-child(2) {
    font-size: calc((40 / 1200) * 100vmin);
    margin-bottom: calc((30 / 1200) * 100vmin);
    width: 100%;

  }
  .textWrapper .title {
    font-size: calc((40 / 1200) * 100vmin);
    line-height: calc((60 / 1200) * 100vmin);
    font-family: var(--font);

  }
  .textWrapper .text {
    font-size: calc((40 / 1200) * 100vmin);
    line-height: calc((50 / 1200) * 100vmin);
    margin-bottom: calc((60 / 1200) * 100vmin);
  }
  .textWrapper div {
    align-items: flex-start;
  }
  .textWrapper button {
    width: calc((600 / 1200) * 100vmin);
    margin: 0;
    padding: 0;
  }
}
