.wrapper {
  padding: calc(40 / 400 * 100vmin);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
font-size: calc(18 / 400 * 100vmin);
line-height: calc(30 / 400 * 100vmin);

}
li{
    display: flex;
    align-items: center;

}
a {
  text-decoration: none;
  color: inherit;
}
li span{
    color: var(--active-color);
}
li img{
    width: calc(20 / 400 * 100vmin);
    height: calc(20 / 400 * 100vmin);
    margin-right: calc(5 / 400 * 100vmin);
}

@media screen and (min-width: 1300px) {
    .wrapper{
        padding: calc(140 / 1200* 100vmin) calc(300 / 1200* 100vmin);    
    }
    ul{
        font-size: calc(40 / 1200 * 100vmin);
line-height: calc(50 / 1200 * 100vmin);
    }
}